/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'Mojave-Web';
    src: url('/mojave-webfont.eot');
    src: url('/mojave-webfont.eot?#iefix') format('embedded-opentype'),
    url('/mojave-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*noinspection CssUnknownTarget*/
@font-face {
    font-family: 'Sertig-Web';
    src: url('/sertig-webfont.eot');
    src: url('/sertig-webfont.eot?#iefix') format('embedded-opentype'),
    url('/sertig-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 500, 'GRAD' 0, 'opsz' 48;
    font-size: inherit;
}

html {
    min-height: 100vh;
    height: 100vh;
}

body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: Sertig-Web, sans-serif;
    font-size: 1rem;
    /*min-width: 700px;*/
}

#svelte-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

:root {
    --color-accent: #0083ef;
    --color-fg: white;
    --color-bg: #111;
    --color-select-bg: #222;
}

* {
    box-sizing: border-box;
    position: relative;
}

.hcenter {
    text-align: center;
    justify-content: center;
}

.vcenter {
    align-items: center;
}

.center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.accent {
    color: var(--color-accent);
}

h1, h2, h3 {
    font-family: Mojave-Web, sans-serif;
    margin: 0.75rem;
}

hr {
    width: 95%;
}

.button {
    user-select: none;
    -webkit-user-select: none;
    display: block;
    color: white;
    font-size: 1rem;
    border: none;
    font-family: inherit;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 0.4rem;
    background-color: #0083ef;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.chip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vw;
    background-color: var(--color-accent);
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    white-space: nowrap;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
}

.clear {
    clear: both;
}

.input-wrapper {
    align-self: flex-start;
    padding-bottom: 0.3rem;
    width: min(100%, 20rem);
}

.input-wrapper.labeled {
    padding-left: 1rem;
    border-left: 3px solid #333;
}

select, input, textarea {
    color: var(--color-fg);
    background-color: var(--color-select-bg);
    padding: 0.3rem;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.2rem;
    border: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 100vw;
}

::-webkit-scrollbar-corner {
    background: var(--color-bg)
}

/* Modal Select stuff */
.modal-header-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    text-align: center;
}

.modal-header {
    text-align: center;
}

.triggers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.comp-select, .cancel {
    display: inline-block;
    padding: 0.5rem;
    background-color: #333;
    border: 1px solid #222;
    margin: 0.1rem;
    transition: background-color 250ms ease;
}

.comp-select:hover {
    cursor: pointer;
    background-color: var(--color-accent);
}

.cancel:hover {
    cursor: pointer;
    background-color: var(--color-select-bg);
}

.cancel {
    background: #333;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.cancel:hover {
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    body {
        font-size: 1.2rem;
    }
}input.svelte-8b3mcy.svelte-8b3mcy{display:block;background-color:var(--color-select-bg);border:1px solid #666;font-size:1.5rem;color:white;padding:0.5rem;border-radius:0.4rem}.options.svelte-8b3mcy.svelte-8b3mcy{display:flex;flex-direction:column;justify-content:center;align-content:center}.option.svelte-8b3mcy.svelte-8b3mcy{text-align:center}.or.svelte-8b3mcy.svelte-8b3mcy{display:flex;justify-content:center;align-items:center;height:2px;font-size:1rem;margin:1rem 0;background-color:var(--color-fg);width:100%}.or.svelte-8b3mcy span.svelte-8b3mcy{background-color:var(--color-bg);padding:0.4rem}.hidden.svelte-8b3mcy.svelte-8b3mcy{display:none}.sidebar-entry.svelte-7wiq77.svelte-7wiq77{display:flex;justify-content:space-between;align-items:center;background-color:#444;padding:0.3rem 0.5rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;border-left:0 solid var(--color-accent);transition:background-color 0.25s ease-in-out,
        border-left-width 0.25s ease-in-out;user-select:none;-webkit-user-select:none;margin-inline:0.4rem}.sidebar-entry.svelte-7wiq77.svelte-7wiq77:has(.new){padding:unset}.sidebar-entry.svelte-7wiq77.svelte-7wiq77:hover{cursor:pointer}.sidebar-entry.svelte-7wiq77.svelte-7wiq77:not(.in-folder):last-child{position:sticky;margin-top:0.5rem;bottom:0;background-color:unset}.sidebar-entry.svelte-7wiq77.svelte-7wiq77:not(:last-child),.folder-content .sidebar-entry{border-bottom:1px solid #aaa}.sidebar-entry.over.svelte-7wiq77.svelte-7wiq77:not(:last-child){border-bottom:10px solid rgba(0, 79, 143, 0.7)}.sidebar-entry.over.svelte-7wiq77.svelte-7wiq77:last-child{border-top:10px solid rgba(0, 79, 143, 0.7)}.active.svelte-7wiq77.svelte-7wiq77{background-color:#005193;border-left-width:4px}.buttons.svelte-7wiq77.svelte-7wiq77{display:flex}.download.svelte-7wiq77.svelte-7wiq77,.delete.svelte-7wiq77.svelte-7wiq77{opacity:0;display:flex;justify-content:center;align-items:center;padding:0.3rem;border-radius:50%;transition:background-color 0.25s ease,
        opacity 0.25s ease}.sidebar-entry.svelte-7wiq77:hover .download.svelte-7wiq77,.sidebar-entry.svelte-7wiq77:hover .delete.svelte-7wiq77{opacity:1}.download.svelte-7wiq77.svelte-7wiq77:hover{background-color:#1dad36}.delete.svelte-7wiq77.svelte-7wiq77:hover{background-color:#b60000}.download.svelte-7wiq77 .material-symbols-rounded.svelte-7wiq77,.delete.svelte-7wiq77 .material-symbols-rounded.svelte-7wiq77{font-size:1rem}.modal-buttons.svelte-7wiq77.svelte-7wiq77{display:flex;justify-content:center}.modal-buttons.svelte-7wiq77 .button.svelte-7wiq77{margin-inline:1rem}.modal-delete.svelte-7wiq77.svelte-7wiq77{background-color:#b60000}.folder-icon.svelte-h6frfb.svelte-h6frfb{color:#0083ef}.folder.svelte-h6frfb.svelte-h6frfb{display:flex;justify-content:space-between;align-items:center;background-color:#444;padding:0.3rem 0.5rem;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;border-left:0 solid var(--color-accent);transition:background-color 0.25s ease-in-out,
        border-left-width 0.25s ease-in-out;user-select:none;-webkit-user-select:none;margin-inline:0.4rem;border-bottom:1px solid #aaa}.folder.over.svelte-h6frfb.svelte-h6frfb{border-bottom:10px solid rgba(0, 79, 143, 0.7)}.folder.svelte-h6frfb.svelte-h6frfb:hover{cursor:pointer}.folder.svelte-h6frfb:hover .icon.svelte-h6frfb{opacity:1}.name.svelte-h6frfb.svelte-h6frfb{flex:1;margin-left:0.5rem}.icon.svelte-h6frfb.svelte-h6frfb{opacity:0;display:flex;justify-content:center;align-items:center;padding:0.3rem;border-radius:50%;transition:background-color 0.25s ease,
        opacity 0.25s ease}.icon.svelte-h6frfb.svelte-h6frfb:hover{background-color:#1dad36}.icon.add.svelte-h6frfb.svelte-h6frfb:hover{background-color:#006c91}.icon.delete.svelte-h6frfb.svelte-h6frfb:hover{background-color:#b60000}.material-symbols-rounded.svelte-h6frfb.svelte-h6frfb{font-size:1rem}.folder-content.svelte-h6frfb.svelte-h6frfb{margin-left:0.3rem}#sidebar.svelte-sqaw72.svelte-sqaw72{position:absolute;top:100%;z-index:3;background-color:#222;padding-bottom:0.5rem;max-height:var(--height);height:var(--height);overflow-y:auto;width:75%}hr.svelte-sqaw72.svelte-sqaw72{margin-bottom:0}.type-wrap.svelte-sqaw72.svelte-sqaw72{position:sticky;z-index:2;top:0;background-color:#222;padding:0.4rem;user-select:none;-webkit-user-select:none}.items.svelte-sqaw72.svelte-sqaw72{position:absolute;width:100%}.new.svelte-sqaw72.svelte-sqaw72{width:100%;display:flex;justify-content:space-around;margin:0.3rem}.new.svelte-sqaw72 span.svelte-sqaw72{display:block;flex:1;border-radius:100vw;text-align:center;padding:0.4rem 0.6rem;background-color:#333}.new.svelte-sqaw72 span.svelte-sqaw72:first-child{margin-right:0.5rem}.new.svelte-sqaw72 span.svelte-sqaw72:last-child{margin-left:0.5rem}.new.svelte-sqaw72 span.svelte-sqaw72:hover{background-color:#0083ef}@media screen and (min-width: 500px){#sidebar.svelte-sqaw72.svelte-sqaw72{width:15rem;min-width:10rem;overflow-x:hidden;overflow-y:auto}}.nav-wrap.svelte-1oi5qao.svelte-1oi5qao{position:sticky;top:0;z-index:5}label.svelte-1oi5qao.svelte-1oi5qao{display:flex;font-size:1.5rem;font-weight:bold;align-items:center;justify-content:center}.server.svelte-1oi5qao.svelte-1oi5qao{display:flex;align-items:center}select.svelte-1oi5qao.svelte-1oi5qao{margin-left:1rem;font-family:inherit;font-weight:inherit;font-size:1rem;border-radius:0.5rem}nav.svelte-1oi5qao.svelte-1oi5qao{display:grid;grid-template-columns:1fr 1fr 1fr;background-color:#444;align-items:center;justify-content:space-between;padding:0.5rem}nav.svelte-1oi5qao .chip.svelte-1oi5qao{background:var(--color-bg);font-weight:bold;padding:0.25rem;font-size:1.1rem;text-align:center;border-radius:100vw;white-space:nowrap}nav.svelte-1oi5qao .chip.svelte-1oi5qao:not(.hamburger){border-radius:0.5rem;padding:0.25rem 0.5rem;margin-left:0.5rem;background-color:#004f8f;border:1px solid var(--color-fg)}nav.svelte-1oi5qao .chip.import.svelte-1oi5qao{background-color:#077e1c}.chip.svelte-1oi5qao.svelte-1oi5qao:hover{cursor:pointer}.chip.hamburger.svelte-1oi5qao.svelte-1oi5qao{display:flex;justify-self:flex-start;align-items:center;justify-content:center;width:3.5rem;font-size:1.5rem}.transfer.svelte-1oi5qao.svelte-1oi5qao{display:flex;justify-content:flex-end}svg.svelte-evyltu{height:100%;width:100%}#header.svelte-n9c92r.svelte-n9c92r{display:flex;flex-direction:column;align-items:center;padding:0.5rem}div.svelte-n9c92r>.svelte-n9c92r{text-align:center}.home.svelte-n9c92r.svelte-n9c92r{display:flex;align-items:center}h1.svelte-n9c92r.svelte-n9c92r,h2.svelte-n9c92r.svelte-n9c92r{display:inline;font-family:Mojave-Web, sans-serif;margin:0;padding:0 0 0.5rem}h1.svelte-n9c92r.svelte-n9c92r{font-size:2rem}h2.svelte-n9c92r.svelte-n9c92r{margin-left:0.5rem;font-size:1.25rem}.socials.svelte-n9c92r.svelte-n9c92r{display:flex;justify-content:flex-end}.social.svelte-n9c92r.svelte-n9c92r,.social.svelte-n9c92r.svelte-n9c92r:visited,.social.svelte-n9c92r.svelte-n9c92r:active{display:flex;justify-content:center;align-items:center;user-select:none;-webkit-user-select:none;color:var(--color-fg);background-color:#0083ef;border-radius:50%;height:2rem;aspect-ratio:1;padding:0.3rem;margin:0 0.2rem;text-decoration:none}.social.svelte-n9c92r img.svelte-n9c92r{height:100%;aspect-ratio:1}@media screen and (min-width: 500px){#header.svelte-n9c92r.svelte-n9c92r{flex-direction:row;justify-content:space-between}h1.svelte-n9c92r.svelte-n9c92r,h2.svelte-n9c92r.svelte-n9c92r{padding:unset}}.dragging.svelte-8v0iul.svelte-8v0iul{display:flex;align-items:center;justify-content:center;position:fixed;inset:0;background-color:rgba(0, 0, 0, 0.5);backdrop-filter:blur(5px);z-index:50;font-size:2rem}@media screen and (min-width: 500px){#body-container.svelte-8v0iul.svelte-8v0iul{overflow:visible}}#body-container.svelte-8v0iul.svelte-8v0iul{flex-grow:1;display:flex;flex-direction:column}#body.svelte-8v0iul.svelte-8v0iul{display:flex;flex-direction:column;align-items:center;flex-grow:1}#body.centered.svelte-8v0iul.svelte-8v0iul{justify-content:center}#floating-buttons.svelte-8v0iul.svelte-8v0iul{display:flex;flex-direction:column;position:fixed;right:0.5rem;bottom:0.5rem;align-items:flex-end}#floating-buttons.svelte-8v0iul .button.svelte-8v0iul{background-color:#0083ef;display:flex;align-items:center;justify-content:center;border-radius:50%;padding:0.7rem;box-shadow:5px 5px 5px #444;margin:0.5rem}#floating-buttons.svelte-8v0iul .button .material-symbols-rounded.svelte-8v0iul{font-size:1.75rem}#floating-buttons.svelte-8v0iul .save.svelte-8v0iul{background-color:#1dad36}#body-container.empty.svelte-8v0iul.svelte-8v0iul{display:flex;align-items:center;justify-content:center}